<% @min = @stock_data.min_price - 10 %>
<% @max = @stock_data.max_price + 10 %>

<%= line_chart @chart, min: @min, max: @max %>

<table>
	<tr>
		<td>
			The highest profit you can make is 
		</td>
		<td>
			$<%= @profit %>
		</td>
	</tr>
	<tr>
		<td>
			The best day to buy <%= @stock_ticker %> is on 
		</td>
		<td>
			<%= @profit_start %> for <%= @starting_date_price %>
		</td>
	</tr>
	<tr>
		<td>
			And sell on 
		</td>
		<td>
			<%= @profit_end %> for <%= @ending_date_price %>
		</td>
	</tr>
</table>

<p> Hello world!  <%= @stock_data.inspect %></p>


<p> <%= @stock_data.print_stocks_count %> </p>
<table>
	<thead></thead>
		<tr>
			<th>Date</th>
			<th>Opening</th>
			<th>Closing</th>
			<th>Net</th>
		</tr>
		<% @stock_data.stocks.each do |stock| %>
			<tr>
				<td>
					<%= stock.date %>
				</td>
				<% if opening_values?(stock) %>
				  <td>
					  <%= stock.opening %>
				  </td>
				<% end %>
				<td>
					<%= stock.closing %>
				</td>
				<td>
					<%= stock.net %>
				</td>
			</tr>
		<% end %>
</table>